* {
    box-sizing: border-box;
}
button  {
    cursor: pointer;
    margin-right: 6px;
    margin-bottom: 12px;
    font-family: 'Cormorant Garamond';
    font-size: x-large;
    border-color: rgb(85, 65, 9);
    color: rgb(85, 65, 9);
    font-weight: bold;
    padding: 4px 12px;
    width: fit-content;

}
button:hover {
    border-color: white;
    background-color: rgb(85, 65, 9);
    color: white;
    transition: 0.5s;
}
h1 {
    font-family: 'Luxurious Roman';
    font-weight: bold;
}

.typewriter h1 {
    width: fit-content;
    margin: 0 auto 0 auto;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 4.2s steps(40, end),
      blink-caret .5s step-end 14;
    border-color: transparent;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }
  
.main  {
    justify-content: center;
    display: flex;
}
body {
    text-align: center;
    font-family: 'Cormorant Garamond';
    background-image: url(https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YWVzdGhldGljJTIwYm9va3N8ZW58MHx8MHx8&w=1000&q=80);
    background-size: cover;
    
}
#header {
    width: fit-content;
    margin: 0 auto 0 auto;
}
#content {
    width: fit-content;
    margin: 0 auto 0 auto;
}
#footer {
    width: fit-content;
    margin: 5vh auto 0 auto;
    font-family: 'Roboto';
}
#all {
    background-color: rgb(209, 193, 171);
    opacity: 86%;
    width: 85%;
    margin: 3% auto 3% auto;
    border: 0.3vh solid rgb(206, 171, 121);
    padding-top: 25px;
}
#recommendations {
    font-weight: bold;
    font-size: larger;
    display: none;
}
#tbr {
    font-weight: bold;
    font-size: larger;
    display: none;
}
#link {
    font-weight: bold;
    font-size: larger;
    display: none;
}
.green {
    color: rgb(19, 179, 19);
}
.orange {
    color: rgb(255, 124, 37);
}
.blue {
    color: rgb(20, 71, 238);
}
.purple {
    color: rgb(116, 13, 156);
}
.colors {
    margin: 15px auto 5px auto;
    width: fit-content;
    padding: 5px;
}
.books {
    text-align: left;
}