* {
    box-sizing: border-box;
}
button  {
    cursor: pointer;
    margin-right: 6px;
    margin-top: 6px;
    font-family: 'Roboto';
    font-size: x-large;
    border-color: rgb(85, 65, 9);
    color: rgb(85, 65, 9);
    
    padding: 4px 12px;
    width: fit-content;

}
button:hover {
    border-color: white;
    background-color: rgb(85, 65, 9);
    color: white;
    transition: 0.5s;
}
h1 {
    font-family: 'Luxurious Roman';
    font-weight: bold;
    
}
h4 {
    font-weight: bold;
}
.typewriter h1 {
    width: fit-content;
    margin: 0 auto 0 auto;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 4.2s steps(40, end),
      blink-caret .4s step-end 14;
    border-color: transparent;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }
  
.main  {
    justify-content: center;
    display: flex;
}
body {
    text-align: center;
    font-family: 'Roboto';
    background-image: url(https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YWVzdGhldGljJTIwYm9va3N8ZW58MHx8MHx8&w=1000&q=80);
    background-size: cover;
    
}
#header {
    width: fit-content;
    margin: 0 auto 0 auto;
}
#content {
    width: fit-content;
    margin: 0 auto 0 auto;
}
#footer {
    width: fit-content;
    margin: 55vh auto 0 auto;
    
}

#all {
    background-color: rgb(209, 193, 171);
    opacity: 90%;
    width: 85%;
    margin: 4% auto 2% auto;
    border: 0.3vh solid rgb(206, 171, 121);
    padding-top: 25px;
}